@charset "UTF-8";

.container {
	background-color: rgba(229,0,3,1.00);
	height: auto;
	width: 100%;
	margin: 0px auto;
}

#nav {
	height: 25%;
	width: 90%;
	margin: 5% auto;
	background-color: rgba(0,148,255,1.00);
	font-family: "averia-sans-libre";
	font-size: xx-large;
	color: rgba(255,255,0,1.00);
	font-weight: bolder;
	text-decoration: blink;
	padding: 1%;
}

.topLogo {
	display: block;
	margin: 0px auto;
}

.topNav {
	font-family: damion;
}

.topNavItem {
	list-style: none;
}

#content {
	width: 90%;
	margin: 5% auto;
	padding: 1%;
	background-color: rgba(121,0,255,0.50);
	color: white;
	border: rgba(238,255,0,1.00);
	border-style: groove;
	border-width: 20px;
	border-radius: 7px;
}

#heroImage {
	background-image: url(../images/exercises/pixarAssets/Monsters2.png);
	height: 60vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#footer {
	width: 90%;
	height: 10%;
	margin: 5% auto; 
	background-color: rgba(0,255,178,.60);
	font-family: "unifrakturcook";
	color: rgba(0,255,150,1.00);
	text-align: center;
}

.movieImage {
	width: 23%;
	height: 20vh;
	margin: 2% 1%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

#movie1 {
	background-image: url(../images/exercises/pixarAssets/Lava.png);
}

#movie2 {
	background-image: url(../images/exercises/pixarAssets/Monsters.jpg);
}

#movie3 {
	background-image: url(../images/exercises/pixarAssets/roz1_0.png);
}

#movie4 {
	background-image: url(../images/exercises/pixarAssets/Toy.png);
}








